.about{
    padding: 40px;
    font-size: 34px;
	display: flex;
	align-items: center;
	margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.abtImg{
	border-radius: 50%;
	border: 5px solid red;
	max-height: 400px;
	
}
.abtTxt{
	padding-left: 20px;
	padding-top: 30px;
	
	
}

.firstImg{

	--b: .5em; /* border width */
	--c: 3em; /* corner size */
	--r: 2em; /* corner rounding */
	position: relative;
	
	margin: 1em auto;
	border: solid var(--b) transparent;
	padding: 1em;
	max-width: 30em;
	font: 1.25em ubuntu, sans-serif;
	
	&::before {
		position: absolute;
		z-index: -1;
		inset: calc(-1*var(--b));
		border: inherit;
		border-radius: var(--r);
		background: linear-gradient(red, red, orange) border-box;
		--corner: 
			conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
				0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
		--inner: conic-gradient(red 0 0) padding-box;
		-webkit-mask: var(--corner), var(--inner);
		-webkit-mask-composite: source-out;
						mask: var(--corner) subtract, var(--inner);
		content: ''
	}
}