.footer--pin {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
   
  }
  .content-container {
  min-height: calc(100vh - 34px);
}

.footLogo{
  width: 72px;
  border-style: solid;
  border-color:black;
  border-radius:50%;
  
}
