.footer--pin {
    position: relative;
    left: 0;
    bottom: 0;
    

  }
  .content-container {
  min-height: calc(100vh - 34px);
}

.footLogo{
  width: 72px;
  border-style: solid;
  border-color:black;
  border-radius:50%;
  
}
